
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class ="fadeIn first">
    <h1>Welcome to the Person Registration App</h1><br>
    <button routerLink="/persons/create" class="fadeIn second">Create Person</button>
    <button routerLink="/persons" class="fadeIn third">See List of Persons</button>
    <button routerLink="/login" class = "fadeIn fourth">Logout</button>
</div>
